
body{
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #F4B059;
}

main{
    margin-top: 200px;
}

header{
    background-color: #F4B059;
    top: 0;
    position: fixed;
    width: 100%;
    height: 150;
}

header>h1{
    text-align: center;
}

header>img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
}

.nav-link{
    color: black;
    text-decoration: none;
    margin: 20px;
}


.fan-page-cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
}

article{
    margin: 5px;
    flex-basis: 400px;
}

